<div class="left">
  <h2>Source:</h2>
  <h3>HTML:</h3>
  <pre class="sh_html"><code><%= form.to_str.gsub(/<div style=.*<\/div>/, "") %></code></pre>
  <h3>JavaScript:</h3>
  <pre class="sh_javascript"><code><%= File.read(Rails.root.join("public/javascripts/application.js")) %></code></pre>
</div>
<div class="clear"></div>
