.validation-active {
  position: relative;
}
.validation-block {
  background: url('/images/validation-error-notice.png') 0 0 no-repeat;
  bottom: 8px;
  color: #fff;
  font-size: 11px;
  height: 16px;
  left: 237px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-indent: 16px;
  visibility: hidden;
  width: 16px;
}

select + .validation-block,textarea + .validation-block {
  background: none;
}

.validation-active input, .validation-active select, .validation-active textarea {
  background-color: #ffe3e3;
  border-color: #e05c5c;
}

.validation-active .validation-block {
  opacity: 1;
  visibility: visible;
  border-radius: 6px;
}
.validation-active:hover .validation-block {
  background: #f03333;
  top: -12px;
  display: block;
  height: auto;
  left: 0;
  line-height: 16px;
  max-height: 40px;
  overflow: visible;
  padding: 7px 10px;
  position: absolute;
  text-indent: 0;
  width: 238px;
  z-index: 10;
  bottom: inherit;
}
.validation-active:hover .validation-block .arrow {
  background: url('/images/validation-error.png') 0 0 no-repeat;
  bottom: -7px;
  height: 7px;
  position: absolute;
  width: 7px;
}

.validation-message.inline {
  color: red;
}
