.error-message {
  display: none;
}

.validation-active{
  overflow: visible;
  position: relative;
}

.validation-active.indicate-error {
  border: 1px solid #ffcc00;
  border-radius: 3px;
}

.validation-active input, .validation-active textarea, .validation-active select{
  border-color: #ffcc00;
  border-width: 1px;
}

.validation-active .error-message{
  position: absolute;
  right: -240px;
  top: 20px;
  width: 238px;
  z-index: 7;
  display: block;
}

.indicate-error.validation-active .error-message{
  top: inherit;
  bottom: 20%;
}

.validation-active .error-message .bg {
  background: url('/images/yellow-corner.png') no-repeat left top;
  width: 13px;
  height: 25px;
  display: block;
  float: left;
}


.validation-active .text-message {
  background-color: #ffcc00;
  display: block;
  margin-left: 13px;
  padding: 4px 25px 4px 12px;
  position: relative;
  text-align: left;
  min-height: 17px;
  -moz-box-shadow:1px 1px 1px #999999;
  -webkit-box-shadow:1px 1px 1px #999999;
  box-shadow:1px 1px 1px #999999; 
}

.validation-active .close-notice{
  float: right;
  width: 19px;
  height: 19px;
  position: absolute;
  right: 1px;
  top: 1px;
}
.validation-active .close-notice span{
  background: url('/images/close.png') center center no-repeat;
  display: block;
  width: 19px;
  height: 19px;
}
.validation-active .close-notice:hover{
  background: url('/images/close-hover-alert.png') no-repeat;
}

